<h2>My Songs</h2>
<ul class="heroes">
  <li *ngFor="let song of songs" (click)="onSelect(song)" [class.selected]="song === selectedSong">
    <span class="hero-element">
      <span class="badge">{{song.id}}</span> {{song.name}}
    </span>
    <button class="delete-button" (click)="deleteSong(song, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addSong()">Add New song</button>
<div *ngIf="addingSong">
  <my-song-detail (close)="close($event)"></my-song-detail>
</div>

<div *ngIf="selectedSong">
  <h2>
    {{selectedSong.name | uppercase}} is my song
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
